/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Dec 29, 2021, 2:49:03 PM
    Author     : Larisa
*/

    body {
        margin:30px;
        margin-top:50px;
    }

    /*CASIER*/
    .casier{
        width: 1000px;
        height: 730px;
        border: 3px solid black;
        margin-left: 200px;
        background-color: activecaption;
    }

    .afisare-produse {
        border: 2px solid black;
        height: 500px;
        width: 500px;
        margin:20px;
        margin-bottom: 50px;
        float:left;
        background-color: white;
    }

    .prod-info {
        display: inline;
    }

    .detalii-mic {
        float:left;
        width: 90px;
        margin:5px;
        text-align:center;
        border-bottom: 1px solid black;
    }

    .detalii {
        float:left;
        width: 190px;
        margin:5px;
        text-align:center;
        border-bottom: 1px solid black;
    }

    .afisare-cod {
        height: 100px;
        width:400px;
        margin:20px;
        margin-bottom:150px;
        float:right;
    }

    .input-cod {
        height: 100px;
        width:400px;
    }

    .plata {
        width: 400px;
        height: 50px;
        margin:20px;
        float:right;
    }

    .button-plata {
        width: 400px;
        height: 50px;
    }

    .total {
        border: 2px solid black;
        clear: left;
        width: 260px;
        height:80px;
        margin-left:130px;
        background-color: white;
    }

    .pret-total {
        margin-top:25px;
        margin-left:20px;
        background-color: white;
    }

    /*CLIENT*/
    .client {
        width: 400px;
        height: 730px;
        border:3px solid black;
        float:right;
        margin-right:200px;
        background-color: white;
    }

    .detalii-mic-bon {
        float:left;
        width: 55px;
        margin:5px;
        text-align:center;
        border-bottom: 1px solid black;
    }

    .total-bon {
        height: 50px;
        border: 1px solid black;
        margin:20px;
    }

    .pret-total-bon {
        margin: 0px;
        margin-top: 17px;
        margin-left: 50px;
    }

    .produse-bon {
        height: 650px;
    }


    /*MEDIA QUERY 1*/
    @media only screen and (max-width: 1870px) {
        body {
            background-color: red;
        }

        /*CASIER*/
        .casier{
            width: 800px;
            height: 530px;
            margin-left:150px;
        }

        .afisare-produse {
            height:400px;
            width: 450px;
            margin:20px;
            margin-bottom: 20px;
        }

        .detalii-mic {
            width: 70px;
            margin:5px;
        }

        .detalii {
            width: 190px;
            margin:5px;
        }

        .afisare-cod {
            height: 90px;
            width:240px;
            margin-right:40px;
            margin-bottom:90px;
        }

        .input-cod {
            height: 90px;
            width:240px;
        }

        .plata {
            width: 240px;
            height: 50px;
            margin-right:40px;
        }

        .button-plata {
            width: 240px;
            height: 50px;
        }

        .total {
            width: 250px;
            height:60px;
            margin-left:130px;
        }

        .pret-total {
            margin-top:19px;
            margin-left:20px;
            font-size: 18px;
        }

        /*CLIENT*/
        .client {
            width: 380px;
            height: 530px;
            margin-right:150px;
        }

        .detalii-mic-bon {
            width: 45px;
            margin:5px;
        }

        .total-bon {
            height: 40px;
            margin: 20px;
        }

        .pret-total-bon {
            margin: 0px;
            margin-top: 11px;
            margin-left: 30px;
        }

        .produse-bon {
            height: 450px;
        }
    }
    
    /*MEDIA QUERY 2*/
    @media only screen and (max-width: 1560px) {
        body {
            background-color: blue;
        }

        /*CASHIER*/
        .casier{
            width: 700px;
            height: 530px;
            margin-left:100px;
        }
        
        .afisare-produse {
            height:400px;
            width: 380px;
            margin:20px;
            margin-bottom: 20px;
        }

        .detalii-mic {
            width: 50px;
        }

        .detalii {
            width: 180px;
        }

        .afisare-cod {
            height: 80px;
            width:210px;
            margin-right:40px;
            margin-bottom:80px;
        }

        .input-cod {
            height: 80px;
            width:210px;
        }

        .plata {
            width: 210px;
            height: 50px;
            margin-right:40px;
        }

        .button-plata {
            width: 210px;
            height: 50px;
        }

        .total {
            width: 200px;
            height:50px;
            margin-left:110px;
        }

        .pret-total {
            margin-top:15px;
            margin-left:15px;
            font-size: 18px;
        }

        /*CLIENT*/
        .client {
            width: 350px;
            height: 530px;
            margin-right:100px;
        }

        .detalii-mic-bon {
            width: 35px;
            margin:5px;
        }

        .total-bon {
            height: 40px;
            margin: 20px;
        }

        .pret-total-bon {
            margin: 0px;
            margin-top: 11px;
            margin-left: 30px;
        }

        .produse-bon {
            height: 450px;
        }
    }

